# Data Collection

### S&P 500

In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [2]:
# @TODO: Check the history stock which already removed

tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

tickers.head(2)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916

In [3]:
sp500 = tickers['Symbol'].to_list()

In [4]:
start_date, end_date = '2012-01-01', '2023-12-31'
data = yf.download(sp500, start=start_date, end=end_date)

[**************        30%%                      ]  151 of 503 completed

$BF.B: possibly delisted; No price data found  (1d 2012-01-01 -> 2023-12-31)

[*********************100%%**********************]  503 of 503 completed

4 Failed downloads:
['BRK.B']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')
['BF.B']: YFPricesMissingError('$%ticker%: possibly delisted; No price data found  (1d 2012-01-01 -> 2023-12-31)')
['SOLV', 'GEV']: YFChartError("%ticker%: Data doesn't exist for startDate = 1325394000, endDate = 1703998800")

In [5]:
selected_cols = ['Volume', 'Open', 'Close','Adj Close']
data = data[selected_cols]

In [6]:
data.head()

Price        Volume                                                            \
Ticker            A      AAL       AAPL ABBV ABNB       ABT     ACGL      ACN
Date
2012-01-03  4156394  6105900  302220800  NaN  NaN  17693206  2734200  5309600
2012-01-04  4651845  5268700  260022000  NaN  NaN  13370154  2249100  4232100
2012-01-05  6842651  8216100  271269600  NaN  NaN  13119425  2534400  5640900
2012-01-06  4711400  8323000  318292800  NaN  NaN  11986244  1424400  5586600
2012-01-09  4429563  8029900  394024400  NaN  NaN  10789496   704400  4966700

Price                         ...  Adj Close                                   \
Ticker         ADBE      ADI  ...        WTW         WY       WYNN        XEL
Date                          ...
2012-01-03  4495100  3021500  ...  81.378052  11.937037  84.431824  18.080517
2012-01-04  3852400  1428000  ...  80.916588  11.805789  82.979797  17.961481
2012-01-05  2999500  2124300  ...  82.321869  11.737043  82.113029  18.040842
2012-01-06  5781700  3533000  ...  81.629715  11.887037  79.223824  17.987930
2012-01-09  3514700  2593900  ...  80.937599  11.743295  79.001579  18.001156

Price
Ticker            XOM        XYL        YUM        ZBH       ZBRA ZTS
Date
2012-01-03  52.190392  21.249552  33.166363  47.260010  35.720001 NaN
2012-01-04  52.202526  21.951113  33.392879  46.620422  35.450001 NaN
2012-01-05  52.044758  21.638371  33.647690  47.172390  35.400002 NaN
2012-01-06  51.656338  21.274914  33.891197  47.295033  35.110001 NaN
2012-01-09  51.886982  21.359434  33.760952  47.645508  34.950001 NaN

[5 rows x 2012 columns]

In [8]:
data.to_parquet('../data/raw/sp500.parquet')

### CSI300

In [9]:
import pandas as pd

In [10]:
# @TODO: Check the history stock which already removed

csi300_raw = pd.read_html('https://en.wikipedia.org/wiki/CSI_300_Index')[3]
csi300_raw.head(2)

        Ticker            Company           Segment  Exchange  Weighting (%)
0  SSE: 600519    Kweichow Moutai  Consumer Staples  Shanghai          5.972
1  SSE: 601318  Ping An Insurance        Financials  Shanghai          2.590

In [11]:
csi_tickers = csi300_raw['Ticker'].apply(
    lambda x: x.strip('SSE: ') + '.SS' if x.startswith('SSE') else x.strip('SZSE: ') + '.SZ'
).to_list()

In [12]:
csi300 = yf.download(csi_tickers, start=start_date, end=end_date)

[*********************100%%**********************]  300 of 300 completed

In [13]:
selected_cols = ['Volume', 'Open', 'Close','Adj Close']
csi300 = csi300[selected_cols]

In [14]:
csi300.head()

Price         Volume                                                      \
Ticker     000001.SZ  000002.SZ 000063.SZ 000069.SZ  000100.SZ 000157.SZ
Date
2012-01-04  40894427   47432958  11870946  21256622   87805956  30902104
2012-01-05  67483252   52811781  12236065  28979853  193993556  23793149
2012-01-06  36813629   54276961  15220242  26744432  108531947  21296283
2012-01-09  61140416   84603778  14324636  27570492          0  34850888
2012-01-10         0  107797678  24094750  41116077  514638347  78064417

Price                                               ... Adj Close            \
Ticker     000166.SZ 000301.SZ 000333.SZ 000338.SZ  ... 688187.SS 688223.SS
Date                                                ...
2012-01-04  13777778   4706247       NaN  22117132  ...       NaN       NaN
2012-01-05  15781005   4134286       NaN  15813801  ...       NaN       NaN
2012-01-06  19087812   3319706       NaN  13501732  ...       NaN       NaN
2012-01-09  21907170   5907932       NaN  30673857  ...       NaN       NaN
2012-01-10  39518447  10008437       NaN  43748688  ...       NaN       NaN

Price                                                                   \
Ticker     688256.SS 688271.SS 688303.SS 688363.SS 688396.SS 688561.SS
Date
2012-01-04       NaN       NaN       NaN       NaN       NaN       NaN
2012-01-05       NaN       NaN       NaN       NaN       NaN       NaN
2012-01-06       NaN       NaN       NaN       NaN       NaN       NaN
2012-01-09       NaN       NaN       NaN       NaN       NaN       NaN
2012-01-10       NaN       NaN       NaN       NaN       NaN       NaN

Price
Ticker     688599.SS 688981.SS
Date
2012-01-04       NaN       NaN
2012-01-05       NaN       NaN
2012-01-06       NaN       NaN
2012-01-09       NaN       NaN
2012-01-10       NaN       NaN

[5 rows x 1200 columns]

In [15]:
csi300.to_parquet('../data/raw/csi300.parquet')